<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
</head>

<body>
    <h1>Edit Course</h1>
    <form action="/courses/<%=course._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%=course.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="course[location]" value="<%= course.location%>">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" name="course[price]" value="<%= course.price%>">
        </div>
        <button>Update Course</button>
    </form>
    <a href="/courses/<%= course._id%>">Back To the Course</a>

</body>

</html>